#.clang-format file
---
Language: Cpp
BasedOnStyle: Microsoft
ColumnLimit: 160
UseTab: Never
BreakBeforeBraces: Attach
BraceWrapping:
  AfterEnum: false
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AlignArrayOfStructures: Left
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^((<|")(std).*[^/]'
    Priority:        1
  - Regex:           '<.*'
    Priority:        4
  - Regex:           '^".*'
    Priority:        5
SortIncludes: CaseSensitive
SortUsingDeclarations: true
PointerAlignment: Right
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 10
PenaltyReturnTypeOnItsOwnLine: 60
CommentPragmas:  '^ IWYU pragma:'
