CompileFlags:                     # Tweak the parse settings
  Add: [-Wall -O0 -std=c++11]             # treat all files as C++, enable more warnings
  Remove: [-W*,-O*,-std=*]                     # strip all other warning-related flags
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
Hover:
  ShowAKA: Yes
Diagnostics:
  ClangTidy:
    Add: [bugprone*,cppcoreguidelines*,performance*,modernize*]
    Remove: [modernize-use-trailing-return-type,modernize-avoid-c-arrays,cppcoreguidelines-avoid-c-arrays,bugprone-easily-swappable-parameters,cppcoreguidelines-pro-bounds-array-to-pointer-decay,cppcoreguidelines-pro-bounds-pointer-arithmetic,cppcoreguidelines-no-malloc,cppcoreguidelines-prefer-member-initializer]
  UnusedIncludes: Strict